In [147]:
import numpy as np
import pandas as pd
from datetime import datetime

In [148]:
### Loading the Dataset
df=pd.read_csv('./Oakland_Auto_Theft.csv')
df.head(5)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
0,TOWED VEHICLE,09/30/2022 11:18:00 PM,22-044865,VEHICLE THEFT - AUTO,31Y,9609 MADDUX DR,Oakland,CA,POINT (-122.186243032 37.736909007)
1,ROBBERY,10/05/2022 03:00:00 AM,22-045645,VEHICLE THEFT - AUTO,06X,2420 SAN PABLO AV,Oakland,CA,POINT (-122.274354017 37.81511099)
2,STOLEN VEHICLE,11/27/2013 11:30:00 AM,13-060701,VEHICLE THEFT - AUTO,16Y,1123 EL CENTRO AV,Oakland,CA,POINT (-122.219454982 37.810370982)
3,OTHER,12/19/2013 11:00:00 PM,13-064501,VEHICLE THEFT - AUTO,32Y,2374 108TH AV,Oakland,CA,POINT (-122.153223028 37.740880981)
4,STOLEN VEHICLE,01/28/2014 11:00:00 AM,14-004979,VEHICLE THEFT - AUTO,07X,3129 SAN PABLO AV,Oakland,CA,POINT (-122.277448029 37.822463008)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152727 entries, 0 to 152726
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CrimeType    149889 non-null  object
 1   DateTime     152727 non-null  object
 2   CaseNumber   152727 non-null  object
 3   Description  152727 non-null  object
 4   PoliceBeat   152196 non-null  object
 5   Address      152677 non-null  object
 6   City         152727 non-null  object
 7   State        152727 non-null  object
 8   Location     152726 non-null  object
dtypes: object(9)
memory usage: 10.5+ MB

In [150]:
### Convert string DateTime to DateTime type object
df['DateTime'] = pd.to_datetime(df['DateTime'])

/var/folders/pz/dkgytm896n7bpqylxn48gl1m0000gn/T/ipykernel_45233/3175685190.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DateTime'] = pd.to_datetime(df['DateTime'])

In [151]:
### Split Day, Month, Year, Hour in DateTime object
df['Day'] = df['DateTime'].dt.day
df['Month']= df['DateTime'].dt.month
df['Year']= df['DateTime'].dt.year
df['Hour']= df['DateTime'].dt.hour
df['DayOfWeek']= df['DateTime'].dt.weekday
df["DayOfWeekName"]= df['DateTime'].dt.strftime('%A')

In [152]:
### Dropping non-important features
df.drop(['CaseNumber', 'DateTime', 'Description', 'City', 'State'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152727 entries, 0 to 152726
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CrimeType      149889 non-null  object
 1   PoliceBeat     152196 non-null  object
 2   Address        152677 non-null  object
 3   Location       152726 non-null  object
 4   Day            152727 non-null  int32
 5   Month          152727 non-null  int32
 6   Year           152727 non-null  int32
 7   Hour           152727 non-null  int32
 8   DayOfWeek      152727 non-null  int32
 9   DayOfWeekName  152727 non-null  object
dtypes: int32(5), object(5)
memory usage: 8.7+ MB

In [153]:
df.head(5)

,CrimeType,PoliceBeat,Address,Location,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName
0,TOWED VEHICLE,31Y,9609 MADDUX DR,POINT (-122.186243032 37.736909007),30,9,2022,23,4,Friday
1,ROBBERY,06X,2420 SAN PABLO AV,POINT (-122.274354017 37.81511099),5,10,2022,3,2,Wednesday
2,STOLEN VEHICLE,16Y,1123 EL CENTRO AV,POINT (-122.219454982 37.810370982),27,11,2013,11,2,Wednesday
3,OTHER,32Y,2374 108TH AV,POINT (-122.153223028 37.740880981),19,12,2013,23,3,Thursday
4,STOLEN VEHICLE,07X,3129 SAN PABLO AV,POINT (-122.277448029 37.822463008),28,1,2014,11,1,Tuesday

In [154]:
### Split the location to X, Y coordinates
df[['Point','X', 'Y']] = df['Location'].str.split(' ', expand= True)

In [155]:
### Remove "(" ")" from X and Y columns
### Drop unnecessary 'Point' columns
df['X']= df['X'].str.slice(1)
df['Y'] = df['Y'].str.rstrip(')')
df.drop('Point', axis = 1, inplace= True)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152727 entries, 0 to 152726
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CrimeType      149889 non-null  object
 1   PoliceBeat     152196 non-null  object
 2   Address        152677 non-null  object
 3   Location       152726 non-null  object
 4   Day            152727 non-null  int32
 5   Month          152727 non-null  int32
 6   Year           152727 non-null  int32
 7   Hour           152727 non-null  int32
 8   DayOfWeek      152727 non-null  int32
 9   DayOfWeekName  152727 non-null  object
 10  X              152726 non-null  object
 11  Y              152726 non-null  object
dtypes: int32(5), object(7)
memory usage: 11.1+ MB

In [157]:
df.head(5)

,CrimeType,PoliceBeat,Address,Location,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y
0,TOWED VEHICLE,31Y,9609 MADDUX DR,POINT (-122.186243032 37.736909007),30,9,2022,23,4,Friday,-122.186243032,37.736909007
1,ROBBERY,06X,2420 SAN PABLO AV,POINT (-122.274354017 37.81511099),5,10,2022,3,2,Wednesday,-122.274354017,37.81511099
2,STOLEN VEHICLE,16Y,1123 EL CENTRO AV,POINT (-122.219454982 37.810370982),27,11,2013,11,2,Wednesday,-122.219454982,37.810370982
3,OTHER,32Y,2374 108TH AV,POINT (-122.153223028 37.740880981),19,12,2013,23,3,Thursday,-122.153223028,37.740880981
4,STOLEN VEHICLE,07X,3129 SAN PABLO AV,POINT (-122.277448029 37.822463008),28,1,2014,11,1,Tuesday,-122.277448029,37.822463008

In [158]:
### Remove Location column
df.drop('Location', axis = 1, inplace= True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152727 entries, 0 to 152726
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CrimeType      149889 non-null  object
 1   PoliceBeat     152196 non-null  object
 2   Address        152677 non-null  object
 3   Day            152727 non-null  int32
 4   Month          152727 non-null  int32
 5   Year           152727 non-null  int32
 6   Hour           152727 non-null  int32
 7   DayOfWeek      152727 non-null  int32
 8   DayOfWeekName  152727 non-null  object
 9   X              152726 non-null  object
 10  Y              152726 non-null  object
dtypes: int32(5), object(6)
memory usage: 9.9+ MB

In [159]:
# df = df[(df['Year'] >= 2020) & (df['Year'] <= 2023)]
df.head(3)

,CrimeType,PoliceBeat,Address,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y
0,TOWED VEHICLE,31Y,9609 MADDUX DR,30,9,2022,23,4,Friday,-122.186243032,37.736909007
1,ROBBERY,06X,2420 SAN PABLO AV,5,10,2022,3,2,Wednesday,-122.274354017,37.81511099
2,STOLEN VEHICLE,16Y,1123 EL CENTRO AV,27,11,2013,11,2,Wednesday,-122.219454982,37.810370982

In [160]:
!pip install geopandas

Requirement already satisfied: geopandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.14.3)
Requirement already satisfied: fiona>=1.8.21 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopandas) (1.9.6)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (2023.11.17)
Requirement already satisfied: click~=8.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2023.4)

In [161]:
import geopandas
from shapely.geometry import Point

In [162]:
df['geometry'] = df.apply(lambda row: Point(row['X'], row['Y']), axis=1)

In [163]:
df.head(2)

,CrimeType,PoliceBeat,Address,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y,geometry
0,TOWED VEHICLE,31Y,9609 MADDUX DR,30,9,2022,23,4,Friday,-122.186243032,37.736909007,POINT (-122.186243032 37.736909007)
1,ROBBERY,06X,2420 SAN PABLO AV,5,10,2022,3,2,Wednesday,-122.274354017,37.81511099,POINT (-122.274354017 37.81511099)

In [164]:
geo_police_data = geopandas.GeoDataFrame(df, geometry='geometry')
geo_police_data.crs = {'init': 'epsg:4326'}
geo_police_data.head(2)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,CrimeType,PoliceBeat,Address,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y,geometry
0,TOWED VEHICLE,31Y,9609 MADDUX DR,30,9,2022,23,4,Friday,-122.186243032,37.736909007,POINT (-122.18624 37.73691)
1,ROBBERY,06X,2420 SAN PABLO AV,5,10,2022,3,2,Wednesday,-122.274354017,37.81511099,POINT (-122.27435 37.81511)

In [165]:
oakland_districts = geopandas.read_file('oakland.geojson')
oakland_districts.crs = {'init': 'epsg:4326'}
oakland_districts = oakland_districts.set_geometry('geometry')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [166]:
df= geopandas.tools.sjoin(geo_police_data, oakland_districts,how='left')
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 152727 entries, 0 to 152726
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CrimeType      149889 non-null  object
 1   PoliceBeat     152196 non-null  object
 2   Address        152677 non-null  object
 3   Day            152727 non-null  int32
 4   Month          152727 non-null  int32
 5   Year           152727 non-null  int32
 6   Hour           152727 non-null  int32
 7   DayOfWeek      152727 non-null  int32
 8   DayOfWeekName  152727 non-null  object
 9   X              152726 non-null  object
 10  Y              152726 non-null  object
 11  geometry       152727 non-null  geometry
 12  index_right    152135 non-null  float64
 13  Name           152135 non-null  object
 14  Descriptio     0 non-null       object
dtypes: float64(1), geometry(1), int32(5), object(8)
memory usage: 15.7+ MB

In [167]:
df.drop(['index_right', 'Descriptio'], axis= 1, inplace= True)

In [168]:
df.rename(columns={"Name": "District"}, inplace=True)
df.head(3)

,CrimeType,PoliceBeat,Address,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y,geometry,District
0,TOWED VEHICLE,31Y,9609 MADDUX DR,30,9,2022,23,4,Friday,-122.186243032,37.736909007,POINT (-122.18624 37.73691),7
1,ROBBERY,06X,2420 SAN PABLO AV,5,10,2022,3,2,Wednesday,-122.274354017,37.81511099,POINT (-122.27435 37.81511),3
2,STOLEN VEHICLE,16Y,1123 EL CENTRO AV,27,11,2013,11,2,Wednesday,-122.219454982,37.810370982,POINT (-122.21945 37.81037),5

In [169]:
# Code to get the unique frequencies of crime for every single hour in the year 2023

# Convert District column to float
df['District'] = df['District'].astype(float)

frequency_set = set()
frequency_dict = {}

unique_years = {2020, 2021, 2022, 2023} # df['Year'].unique()

frequency_df = df[df['Year'].isin(unique_years)]

for year in unique_years:
    for month in range(1, 13):
        for day in range(1, 32):
            for hour in range(24):
                # Iterate over each district ranging from 1 to 7
                for district in range(1, 8):
                    # Filter the dataframe based on the current year, day, month, hour, and district
                    filtered_data = frequency_df[(frequency_df['Year'] == year) & 
                                         (frequency_df['Month'] == month) & 
                                         (frequency_df['Day'] == day) & 
                                         (frequency_df['Hour'] == hour) & 
                                         (frequency_df['District'] == district)]
                    
                    if not filtered_data.empty:
                        # print(f"Month: {month}, Day: {day}, Hour: {hour}, District: {district}")
                        # print(filtered_data.shape[0])
                        size = str(filtered_data.shape[0])
                        if size in frequency_dict.keys():
                            frequency_dict[str(size)] = frequency_dict[size] + 1
                        else:
                            frequency_dict[str(size)] = 1
                        frequency_set.add(size)
                        frequency_df.loc[(df['Year'] == year) & 
                           (df['Month'] == month) & 
                           (df['Day'] == day) & 
                           (df['Hour'] == hour) & 
                           (df['District'] == district), ['HourlyFrequency', 'Safe']] = (filtered_data.shape[0], 1) if int(size) <= 1 else (filtered_data.shape[0], 0)
                        

print(frequency_set)
print(frequency_dict)

{'1', '3', '5', '2', '7', '6', '8', '4', '10'}
{'3': 405, '1': 32228, '2': 3600, '4': 60, '5': 8, '7': 2, '10': 1, '6': 3, '8': 1}

In [170]:
frequency_df.head()

,CrimeType,PoliceBeat,Address,Day,Month,Year,Hour,DayOfWeek,DayOfWeekName,X,Y,geometry,District,HourlyFrequency,Safe
0,TOWED VEHICLE,31Y,9609 MADDUX DR,30,9,2022,23,4,Friday,-122.186243032,37.736909007,POINT (-122.18624 37.73691),7.0,2.0,0.0
1,ROBBERY,06X,2420 SAN PABLO AV,5,10,2022,3,2,Wednesday,-122.274354017,37.81511099,POINT (-122.27435 37.81511),3.0,1.0,1.0
6,STOLEN VEHICLE,27Y,1432 48TH AV,11,11,2022,19,4,Friday,-122.209015993,37.770539004,POINT (-122.20902 37.77054),5.0,1.0,1.0
7,STOLEN VEHICLE,10Y,1000 43RD ST,18,11,2022,22,4,Friday,-122.276607995,37.83385699,POINT (-122.27661 37.83386),1.0,1.0,1.0
8,RECOVERED O/S STOLEN,31Z,9907 BERNHARDT DR,1,12,2022,11,3,Thursday,-122.186819037,37.730416007,POINT (-122.18682 37.73042),7.0,2.0,0.0

In [178]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# columns that are not needed for prediction
df = frequency_df.drop(['CrimeType', 'PoliceBeat', 'Address', 'geometry', 'HourlyFrequency'], axis=1)

df.dropna(inplace=True)

# Convert categorical variables to numerical using one-hot encoding
df = pd.get_dummies(df, columns=['DayOfWeekName'])

X = df.drop('Safe', axis=1)
y = df['Safe']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

models = {
    "Random Forest": RandomForestClassifier(),
    "Logistic Regression": LogisticRegression(max_iter=100000),
    "Support Vector Machine": SVC(),
    "Decision Tree": DecisionTreeClassifier()
}

# Evaluation
for name, model in models.items():
    print(f"Training and evaluating {name}...")
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy of {name}: {accuracy}")

Training and evaluating Random Forest...
Accuracy of Random Forest: 0.8176937156802928
Training and evaluating Logistic Regression...
Accuracy of Logistic Regression: 0.7814521049420379
Training and evaluating Support Vector Machine...
Accuracy of Support Vector Machine: 0.7814521049420379
Training and evaluating Decision Tree...
Accuracy of Decision Tree: 0.7106772422208664

In [183]:
# Optimize the n_estimators parameter in RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [10, 50, 100, 200, 500]
}

rf_classifier = RandomForestClassifier()

# Perform GridSearchCV to find the best n_estimators
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_n_estimators = grid_search.best_params_['n_estimators']
print("Best n_estimators:", best_n_estimators)

# Train RandomForestClassifier with the best n_estimators
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Best n_estimators: 500
Accuracy: 0.8205003050640635

In [186]:
# Optimize the class_weight parameter in RandomForestClassifier

param_grid = {
    'class_weight': [None, 'balanced', {0: 5, 1: 1}, {0: 2, 1: 1}, {0: 1, 1: 2}, {0: 1, 1: 5}, {0: 1, 1: 10}]  # Values for class_weight
}

rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators)

# Perform GridSearchCV to find the best class_weight
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_class_weight = grid_search.best_params_['class_weight']
print("Best class_weight:", best_class_weight)

# Train RandomForestClassifier with the best class_weight
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Best class_weight: {0: 1, 1: 10}
Accuracy: 0.8220866381940207

In [188]:
# Optimize the bootstrap parameter in RandomForestClassifier

param_grid = {
    'bootstrap': [True, False]  # Values to try for bootstrap
}

rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight)

# Perform GridSearchCV to find the best bootstrap parameter
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_bootstrap = grid_search.best_params_['bootstrap']
print("Best bootstrap:", best_bootstrap)

# Train RandomForestClassifier with the best bootstrap parameter
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight, bootstrap=best_bootstrap)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Best bootstrap: False
Accuracy: 0.8348993288590604

In [210]:
# Optimize the max_depth parameter in RandomForestClassifier

param_grid = {
    'max_depth': [None, 30, 40, 50, 55, 65, 70, 100]
}

rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight, bootstrap=best_bootstrap)

# Perform GridSearchCV to find the best max_depth parameter
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_max_depth = grid_search.best_params_['max_depth']
print("Best max_depth:", best_max_depth)

# Train RandomForestClassifier with the best max_depth parameter
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight, bootstrap=best_bootstrap, max_depth=best_max_depth)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Best max_depth: 55
Accuracy: 0.835875533862111

In [222]:
# Optimize the min_samples_split parameter in RandomForestClassifier

param_grid = {
    'min_samples_split': [2, 5, 10, 20, 50]
}

# Initialize RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight) 

# Perform GridSearchCV to find the best min_samples_split parameter
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_min_samples_split = grid_search.best_params_['min_samples_split']
print("Best min_samples_split:", best_min_samples_split)

# Train RandomForestClassifier with the best min_samples_split parameter
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight, min_samples_split=best_min_samples_split)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# This parameter did not help in increasing the accurracy

Best min_samples_split: 2
Accuracy: 0.8217205613178767

In [224]:
# Optimize the best_min_samples_leaf parameter in RandomForestClassifier

param_grid = {
    'min_samples_leaf': [1, 2, 5, 10, 20]
}

# Initialize RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight)  

# Perform GridSearchCV to find the best min_samples_leaf parameter
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best parameter value and corresponding accuracy
best_min_samples_leaf = grid_search.best_params_['min_samples_leaf']
print("Best min_samples_leaf:", best_min_samples_leaf)

# Train RandomForestClassifier with the best min_samples_leaf parameter
best_rf_classifier = RandomForestClassifier(n_estimators=best_n_estimators, class_weight=best_class_weight, min_samples_leaf=best_min_samples_leaf)
best_rf_classifier.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = best_rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# This parameter did not help in increasing the accurracy

Best min_samples_leaf: 1
Accuracy: 0.8224527150701647